<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Reqser!</h1>
        <p>Reqser is a great little tool designed to help you get requirements documented for your next project.</p>
        <p>
            <a href="#/login" class="btn btn-primary">Get Started</a>
        </p>
    </div>
</div>

<!-- Login Status -->
<!-- <div ng-show-auth="login" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Hello, {{auth.user.email}}! You are logged in.</strong>
</div>
<div ng-show-auth="logout" class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Not logged in</strong>
</div>
<div ng-show-auth="error" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{auth.error}}</strong>
</div> -->

<!-- <input ng-model="syncedValue" type="text" /> <b>{{syncedValue}}</b> -->

<!-- <p>Open <a ng-href="{{FBURL}}/syncedValue" target="_blank">Forge</a> or a <a target="_blank" href="#/">new window</a> to see this input update in real time:</p> -->