<div class="page-header">
    <h2>Login Page</h2>
</div>

<form role="form">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control" ng-model="email" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" ng-model="pass" />
    </div>

    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input type="password" ng-model="confirm" />
    </label>
    <button class="btn btn-primary" ng-click="login()" ng-hide="createMode">Log In</button>
    <button class="btn btn-info" ng-click="createMode = true" ng-hide="createMode">Register</button>
    <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
    <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>

